---
import { movies } from "../data/movies.ts";
const imdbURI = "https://imdb.com/title/";
---
<div x-data="table">
    <input type="text"
           x-on:input.debounce.50ms="search = $el.value.toLowerCase()"
           x-on:input.debounce.100ms="update()"
           class="w-full p-1 my-2 text-xs text-gray-900 border border-gray-300 rounded-lg focus:text-base bg-gray-50 bg-transparent backdrop-blur-sm"
          placeholder="search">


<table class="w-full text-sm text-left text-gray-700 bg-slate-50 bg-opacity-50 backdrop-blur-md">
    <thead class="h-6 text-gray-700 uppercase text-s bg-gray-50">
        <tr>
          <th @click="reorder(0)">Director</th>
          <th @click="reorder(1)">Title</th>
          <th @click="reorder(3)" class="hidden sm:table-cell text-right">Runtime</th>
          <th @click="reorder(5)" class="text-center">Release</th>
          <th class="text-center">imdb</th>
        </tr>
    </thead>
    <tbody x-ref="tbody">
{movies.map((movie) =>
    <tr class="border-t border-dotted h-7 hover:bg-yellow-200"
        x-show="$el.dataset.search.includes(search)"
        data-search={`${ movie.englishTitle } ${movie.director.join(" ")} ${ movie.originalTitle || '' }`.toLowerCase()}
    >
        <td class="sm:pl-1">{movie.director.join(", ")}</td>
        <td class="font-semibold text-slate-900" title={movie.originalTitle}>{movie.englishTitle}</td>
        <td class="font-mono text-right text-xs hidden sm:table-cell" >{movie.runtime}</td>
        <td class="hidden">{ String(movie.runtime).padStart(5, '0') }</td>
        <td class="font-mono text-center" title={`Released: ${movie.releaseDate}` + (movie.watched ?  `\nWatched: ${movie.watched}` : "")}>{movie.releaseYear}</td>
        <td class="hidden">{ movie.releaseDate }</td>
        <td class="hover:bg-[#F5C518] text-center"><a class="hover:text-black text-xs rounded-lg" href={imdbURI + movie.imdbID} target="_blank">IMDb</a></td>
    </tr>
)}
</tbody>
<tfoot class="h-6 text-gray-500 text-s bg-gray-50">
    <tr>
      <th colspan="5">
      <span class="text-gray-900"> <span x-text="visible"></span> movies</span> out of <span x-text="$refs.tbody.querySelectorAll('tr').length"></span>
      </th>
    </tr>
    </tfoot>
</table>

</div>

<script>
import Alpine from 'alpinejs';

document.addEventListener('alpine:init', () => {
    Alpine.data('table', () => ({
        init() {
            this.visible = this.$refs.tbody.querySelectorAll('tr').length
        },
        search: "",
        sortOrder: -1,
        visible: 0,
        update() {
            this.visible = Array.from(this.$refs.tbody.querySelectorAll('tr')).filter((tr) => tr.style.display !== 'none').length;
        },
        reorder(index: number) {
                this.sortOrder = this.sortOrder * -1;
                this.getRows()
                    .sort((a: HTMLElement, b: HTMLElement) => { return this.sortOrder * (a.querySelectorAll("td")[index].textContent as string).localeCompare((b.querySelectorAll("td")[index].textContent as string)); })
                    .forEach((tr) => {
                        this.$refs.tbody.appendChild(tr);
                    });
        },
        getRows() { return Array.from(this.$refs.tbody.querySelectorAll("tr")); }
    }))
})

Alpine.start();
</script>
